.github
.idea
node_modules
src
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.npmrc
.prettierignore
.prettierrc
sonar-project.properties
tsconfig.build.json
tsconfig.eslint.json
tsconfig.json
